.container {
    padding: 0;
}

.movie-row {
    border: solid 1px #ddd;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
    transition-property: all;
    transition-duration: .4s;
    background-color: #eee;
}

.movie-row:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #dfdfdf;
}

.movie-row:active {
    box-shadow: none;
}

.movie-pic {
    padding: 0;
}
.movie-pic > img {
    height: auto;
    width: 100%;
    max-width: 300px;
}

.movie-title {
    font-size: 22px;
    font-weight: bold;
    padding: 10px;
}

.movie-ratings {
    font-size: 14px;
    color: #666;
}

.score {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.movie-cast {
    margin-bottom: 10px;
    font-weight: bold;
}
